:root {
  --colour-1: #fff;
  --colour-2: #eee;
  --colour-3: #ddd;
  --colour-4: #ccc;

  --text-colour: #000;
  --link-colour: #00e;
  --link-visited-colour: #551a8b;
}

/* Media */

@media (prefers-color-scheme: dark) {
  :root {
    --colour-1: #222;
    --colour-2: #333;
    --colour-3: #444;
    --colour-4: #555;
    --colour-4: #666;

    --text-colour: #ddd;
    --link-colour: #ff1;
    --link-visited-colour: #aae574;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .container {
    max-width: 65%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 50%;
  }
}

/* Global */

body {
  background-color: var(--colour-1);
  margin: 0;
}

/* IDs */

#contents > h2 {
  margin-bottom: 5px;
}

#contents {
  background-color: var(--colour-3);
  border-radius: 10px;
  padding: 15px;
}

#contents > li {
  margin-left: 20px;
}

/* Classes */

.container {
  background-color: var(--colour-2);
  width: 80%;
  margin: 5% auto;
  border-radius: 10px;
  padding: 15px;
}

.container :first-child {
  margin-top: 0;
}

.container :last-child {
  margin-bottom: 0;
}

.spotify-album {
  margin: 0 auto;
  width: 75%;
  height: 352px;
  display: block;
  border: none;
}

/* Tags */

h1 {
  margin: 15px auto;
}

h2 {
  margin: 0;
}

details {
  background-color: var(--colour-3);
  border-radius: 10px;
}

details[open] {
  padding: 0 10px 10px 10px;
}

details[open] summary {
  margin: 0 -10px 10px -10px;
}

summary {
  font-size: 20px;
  padding: 11px;
  background-color: var(--colour-4);
  border-radius: 10px;
  display: flex;
}

summary::before {
  content: ">";
  transition: transform 0.15s ease-out;
  margin: auto 10px auto 0;
}

details[open] summary::before {
  transform: rotate(90deg);
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul > li::before {
  content: "•";
  margin-right: 10px;
}

ul > li,
li > ul {
  margin-top: 5px;
}

a:link {
  color: var(--link-colour);
}

a:visited {
  color: var(--link-visited-colour);
}

p {
  margin: 10px 0 0 20px;
}

button {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--colour-3);
  border: 1px solid var(--text-colour);
}

button:active:hover {
  background-color: var(--colour-4);
}

button:active {
  transition: background-color 0.3s ease;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--colour-4);
}

/* Groups */

h1,
h2,
summary,
li::before,
a,
p,
button,
h3,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-colour);
}

h1,
h2,
li::before,
a,
p,
button,
ul {
  width: fit-content;
}

/* h1 + p,
h2 + p,
p + p {
  text-indent: 15px;
  margin-top: 10px;
} */

details + *,
* + button {
  margin-top: 10px;
}

summary,
button,
a:link {
  cursor: pointer;
}

summary,
button {
  user-select: none;
}

hr + p {
  margin-top: 15px;
}
